# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pikimin.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Stuff\Uni Projekte\1. Semester\Pikimin\.idea\.idea.Pikimin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
